/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
   /* background-color: #ff00954f; */
   background-color: rgb(255, 255, 255);
    height: 100vh;
}



/* banner */

.imagem-topo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-topo img{
    width: 1380px;
    height: 600px;
    box-shadow: 1px 1px 5px black;
   
}


/*  */
.logo img{
    width: 260px;
    filter: drop-shadow(0.5px 0.5px 0.5px black);
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}
.img-sobre img{
    width: 500px;
    filter: drop-shadow(2px 2px 4px black);
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #eeb9b1;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: white;
}
.btn-contato{
    display: flex;
    margin-top: -2rem;
}

h2.titulo {
    /*color: #fff; */
    color: #242424;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #eeb9b1;;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #f5c3bb;;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    /* color: #ffffff; */
    color: #242424;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop ul{
    margin-top: -2rem;
}

header nav.menu-desktop a:hover {
    color: #eeb9b1;
    transform: scale(1.05);
    
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i{
    color: #eeb9b1;
    font-size: 40px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}


.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #eeb9b1;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}   
 
.menu-mobile nav ul li a:hover{
    background-color: #eeb9b1;
    color: #000;
}

.overlay-menu{
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    /* color: #fff; */
    /* color: #ff009d; */
    color: #eeb9b1;;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #eeb9b1;
}

.topo-do-site .txt-topo-site p {
    color: #242424;
    /* color: #fff; */
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 500px;
    filter: drop-shadow(2px 2px 4px black);
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 12px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especiliadades {
    padding: 40px 4%;
}

section.especiliadades .flex {
    gap: 60px;
}

.especiliadades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    box-shadow: 0 0 8px #47474778;
}

.especiliadades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 32px #69696969;
}

.especiliadades .especialidades-box i {
    font-size: 70px;
    color: #eeb9b1;
}
.especialidades-box img{
    width: 111px;
}

.especiliadades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
    color: #eeb9b1;
}
.especialidades-box p{
    color: #242424;
}



/* carrossel */

.carrossel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6rem;
    
}
.carrossel img{
    width: 180px;
}
.carrossel h6{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    color: #fe88b0;
    margin-top: -30px;
}
.carrossel-img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.8s;
}

#carross{
    margin-top: 100px;
}



@media screen and (max-width:785px){
    .carrossel{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
}
}





/* agendaar sessao */
.agende{
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agende-btn{
    display: flex;

    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    background-color: #eeb9b1;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: .2s;
    color: white;
}
.agende a{
    text-decoration: none;
    color: white;
}



/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
     color: #fff; 
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #eeb9b1;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #eeb9b1;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO DO PORTFÓLIO */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #eeb9b1;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #eeb9b1;
}

footer .line-footer p i {
    color: #eeb9b1;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

/* Estilo do Como posso ajudar */
.comopossoajudar{
    display: flex;
    justify-content: space-between;
    padding: 40px 12%;
    gap: 10%;
    margin-top: 5rem;
}

.comopossoajudar-txt h1{
    color: #eeb9b1
}
.comopossoajudar-txt h1 span{
    color: #eeb9b1;
}

.comopossoajudar-txt p{
    margin-top: 2.5rem;
    color: #242424
}

.comopossoajudar-img img{
    width: 350px;
    filter: drop-shadow(0.5px 0.5px 2px black);
}
/* feedbacks */
.feedbacks-btn{
    display: flex;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    background-color: #eeb9b1;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;

}
.botao{
    display: flex;
    gap: 0%;
    margin-left: 0%;
    margin-top: 0;
}
.botao-icon{
    display: flex;
    margin-left: 25%;
    gap: 12.5%;
}
.feedbacks-btn a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.instagram-btn{
    display: flex;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    background-color: #eeb9b1;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: .2s;
}
.instagram-btn i {
    color: white;
}

.whatsapp-btn{
    display: flex;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    background-color: #eeb9b1;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: .2s;
}
.whatsapp-btn i {
    color: white;
}



/* carrossel */

.carrossel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.carrossel img{
    width: 180px;
}
.carrossel h6{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    color: #fe88b0;
    margin-top: -30px;
}
.carrossel-img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.8s;
}


@media screen and (max-width:785px){
    .carrossel{
        display: flex;
        flex-direction: column;
    }
}













/* beneficios da psicologia */

.beneficios{
    display: flex;
    justify-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;

    
    
}
.ben-text{
    font-family:'Courier New', Courier, monospace;
    font-size: 48px;
    margin-bottom: 1rem;
    color: #eeb9b1;
    margin-left: 32px;

}
.ben-txt{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: #242424;
     margin-left: 48px;
}
.zeroum p{
    margin-top: 32px;
    color: #242424;
  
}
.zeroum .numero{
   font-size: 120px;
    margin-bottom: 0.5rem;
}
.zerodois p{
    margin-top: 32px;
    color: #242424;
}
.zerodois .numero{
    font-size: 120px;
    margin-bottom: 0.5rem;
    
}
.zerotres p{
    margin-top: 32px;
    color: #242424;
}
.zerotres .numero{
    font-size: 120px;
    margin-bottom: 0.5rem;
}

.txt{
    color: #eeb9b1;
}
.numero{
    border-bottom: 0.5px solid #242424;
    width: 50%;
    color: #eeb9b1;
}



.menu-mob{
    display: none;
}






/* falacomg */

.falacomg{
    display: flex;
    justify-content: space-around;
    margin-top: 3.1rem;
    padding: 80px 12%;
}
.falacomg img{
    width: 333px;
    border-radius: 3.3px;
    box-shadow: 2px 2px 4px  #222;
}

.falacomg .falacomigo h1{
    display: flex;
    justify-content: flex-start;
    color: #eeb9b1;
}

.falacomg .falacomigo h2{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 400;
}


.falacomigo .btn{
    
    margin-top: 1rem;
    padding: 12px 36px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background-color: #eeb9b1;
    border: none;
    text-decoration: none;
}
.btn a{
    color: white;
    text-decoration: none;
}
.btn i{
    margin-right: 10px;
    font-size: 16px;
    color: aliceblue;
}

.contato{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.redes{
    display:inline;
    

}
.rede a{
    margin: 10px;
}
.rede{
    padding: 5px 20px;
    background-color: #eeb9b1;
    border: #f5c3bb;
    border-radius: 8px;
    margin-left: 50px;
}
.rede i{
    color: black;
    font-size: 18px;
}

.atendimento{
    display: flex;
    justify-content: center;
    margin-top: 18px;
    color: #f5c3bb;
}





@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
        margin-top: -2rem;
    }

    /* ESPECIALIDADES */
    section.especiliadades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex {
       gap: 60px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
    
    /* Beneficios */

    .beneficios{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .numero{
        margin-left: 5%;
    }
    .txt{
        margin-left: 5%;
    }
    .beneficios p{
        margin: 3%;
    }

    /* como posso ajudar pag */

    .comopossoajudar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .comopossoajudar-txt h1{
        font-size: 29.5px;
    }
    .comopossoajudar-img img{
        width: 380px;
        margin: 0.4%;
    }

    .botao-icon{
        display: flex;
        margin-left: 15%;
    }


    /* menu mob*/
    .mob{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        list-style: none;
    }
    .menu-mob{
        text-decoration: none;
        list-style: none;
    }
    .menu-mob ul{
        display: flex;
        gap: 8px;
        font-size: 14px;
        text-decoration: none;
        list-style: none;
    }
    .menu-mob ul li a{
        color: #ff009d;
        border-bottom: 0.1px solid #242424;
        list-style: none;
        text-decoration: none;
    }

    /* logo */

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15%;
        margin-top: -10%;
    }

    .imagem-topo img{
     width: 100%;
     height: 250px;
    }


    /* falacomg */

    .falacomg{
        display: grid;
        flex-direction: column,0
        2;
    }

    .redes{
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 16px;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
    .redes .rede{
        font-size: 11px;
        color: black;
    }
    .rede a{
        color: black;
    }
    .atendimento{
        font-size: 12px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .carrossel{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .carrossel-img{
        margin-left: 7%;
        margin-right: 7%;
    }
    .carrossel h6{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }

}
